$black: rgb(0, 0, 0);
$matterhorn: rgb(79, 79, 79);
$grey: rgb(130, 130, 130);
$nobel: rgb(148, 148, 148);
$silver: rgb(189, 189, 189);
$white: rgb(255, 255, 255);
$whisper: rgb(235, 235, 235);
$whisper-dark: rgb(229, 229, 229);
$gainsboro: rgb(227, 227, 227);
$white-smoke: rgb(247, 247, 247);
$turquoise-blue: rgb(86, 204, 242);
$lima: rgb(121, 193, 38);
$orange-peel: rgb(255, 153, 0);
$indigo: rgb(102, 0, 153);

$turquoise-blue-disabled: rgba(86, 204, 242, 0.4);
$orange-peel-disabled: rgba(255, 153, 0, 0.4);
$lima-disabled: rgba(121, 193, 38, 0.4);
$indigo-disabled: rgba(102, 0, 153, 0.4);

// #000000 45%
// #FFFFFF 40%
// #FF9900 40%
