$black: #000000;
$matterhorn: #4f4f4f;
$grey: #828282;
$nobel: #949494;
$silver: #bdbdbd;
$white: #ffffff;
$whisper: #ebebeb;
$gainsboro: #e3e3e3;
$white-smoke: #f7f7f7;
$turquoise-blue: #56ccf2;
$lima: #79c126;
$orange-peel: #ff9900;
$indigo: #660099;

// #000000 45%
// #FFFFFF 40%
// #FF9900 40%
